root = true

[*]
charset = utf-8
end_of_line = LF
quote_type = single

[*.lua]
indent_style = space
indent_size = 2

[*.js]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.json]
indent_style = space
indent_size = 2
